.btn-primary {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    color: $gray-100;
    border-radius: 122px;
    border: 1px solid #ffffff;
    padding: 11px 22px 11px 26px;
    transition: all .3s ease;
    &:hover {
        color: $yellow;
        border: 1px solid $yellow;
        scale: 1.05;
    }
}

.btn-secondary {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: $orange; 
    border-radius: 122px;
    padding: 12px 24px;
    background-color: $yellow;
    transition: all .3s ease;
    &:hover {
        color: #000000;
        scale: 1.05;

    }
}

.btn-app:not(:last-child) {
    margin-bottom: 16px;
}
.btn-app {
    padding: 14px 33.18px;
    display: flex;
    align-items: center;
    background-color: #33303E;
    gap: 12.5px;
    border-radius: 11.38px;
    transition: all .3s ease;
    &:hover {
        background-color: $gray-300;
        scale: 1.1;
        .icon-app path {
            fill: black;
        }
        .text-btn span {
            color: #000000;
        }
          
          .text-btn strong {
            color: #000000;
        }
    }
    .text-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
         span {
            font-family: "Rubik", sans-serif;
            font-size: 12.58px;
            font-weight: 400;
            line-height: 14.91px;
            color: #ffffff;
          }
          
          strong {
            font-family: "Rubik", sans-serif;
            font-size: 16.77px;
            font-weight: 700;
            line-height: 19.87px;
            color: #ffffff;
          }
      }
  } 

.btn-pj {
    padding: 15px 35.15px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 19.36px;
    color: $orange-2;
    background-color: $yellow-2;
    border-radius: 122px;
    transition: all .3s ease;
    &:hover {
        
        color: #000000;
        scale: 1.05;
    }
}