// Primary Colors
$purple-10: #35189C;
$purple-20: #5431D0;
$purple-30: #653DF5;
$purple-40: #4D20EF;
$purple-50: #3401EE;

// Auxiliary Colors
$orange: #80440D;
$yellow: #E9C300;
$yellow-2: #FFC800;
$orange-2: #855B35;

// Gray Colors
$gray-900: #0A0B0D;
$gray-800: #33303E;
$gray-700: #5C5F69;
$gray-600: #787C87;
$gray-500: #C6C5CE;
$gray-400: #ABAFBA;
$gray-300: #C0C3CC;
$gray-200: #DFE1E8;
$gray-100: #F5F6FA;

// Gradients colors
$gradient-01: #1A0078;
$gradient-02: #0A002F;


