.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-small {
  width: 100%;
  max-width: 104.6rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container-full {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}
